
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <%= link_to 'Service', root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <% if user_signed_in? %>
                    <li class="nav-active">
                        <%= link_to "Home" ,root_path , class: "nav-link"%>
                    </li>
                    <% if current_user.type == "Writer" %>
                        <li class="nav-active">
                            <%=  link_to 'Add Book', new_book_path , class: "nav-link"%>
                        </li>
                        <li class="nav-active">
                            <%=  link_to 'View Your Books', your_books_books_path , class: "nav-link"%>
                        </li>
                        <li class="nav-active">
                            <%=  link_to 'View  All Books', books_path , class: "nav-link"%>
                        </li>
                    <% else %>
                        <li class="nav-active">
                            <%=  link_to 'View Books', books_path , class: "nav-link"%>
                        </li>
                    <% end %>
                    
                    <li class="nav-active">
                        <%=  link_to 'Edit Profile', edit_user_registration_path , class: "nav-link"%>
                    </li>
                    <li class="nav-active m-auto ">
                        <%=  link_to "Logout", destroy_user_session_path,  data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } , class: "nav-link" %>
                    </li>
                <% else %>
                    <li class="nav-active">
                        <%=  link_to "Sign up", new_user_registration_path, class: "nav-link"%>
                    </li>

                    <li class="nav-active">
                        <%=  link_to "Login", new_user_session_path, class: "nav-link"%>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>